{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
<script src="{% static 'sockpuppet/sockpuppet.js' %}"></script>

{% include inc_template %}

<div data-reflex-permanent>
    <iframe src="https://ghbtns.com/github-btn.html?user=hopsoft&repo=stimulus_reflex&type=star&count=true" frameborder="0" scrolling="0" class="ghbtn"></iframe>
</div>
<a
        href="#"
        data-reflex="click->Picker_ReflexReflex#increment"
        data-count="{{ count }}"
>Increment </a><span>{{ count }}</span>

<br>
<a href="#"
        data-reflex="click->Picker_ReflexReflex#reset"
        data-count="222"
>reset </a>
{{ count }} \{{ count }} \{{ count }} \{{ count }} \{{ count }} \{{ count }} \
<form action=".">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"
           data-reflex="keyup->Picker_ReflexReflex#increment"
    ><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit"
           data-reflex="click->Picker_ReflexReflex#increment"
    >
</form>

{{ msg }}
<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">Content</div>


        {% for i in loop %}
            <div class="ui segment">        {{ i }}
            </div>
        {% endfor %}

    </div>
</div>

<button data-reflex="click">Refresh</button>
<a
        href="#"
        data-reflex="click->Picker_ReflexReflex#increment"
        data-count="{{ count }}"
>Increment </a>

</body>
